<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
        <div class="logo-y-header">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
    
            <form action="" method="get">
                <input type="text" name="barra-de-busqueda" class="barra-de-busqueda" size="50" placeholder="Buscar productos, marcas y más">
                <div class="lupa-de-busqueda">
                    <i class="fas fa-search" id="lupa"></i>
                </div>
            </form>
    
            <div class="text-centrado"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</div>
            </div>
    
            <div class="caja-de-listas">  
                <ul class="listas">
                    <li><a href="/Ofertas">Ofertas</a></li>
                    <li><a href="/Tiendas-Oficiales">Tiendas Oficiales</a></li>
                    <li><a href="/Vender">Vender</a></li>
                    <li><a href="/Ayuda">Ayuda</a></li>
                </ul>
        
                <ul class="listas2">
                    <li><a href="/register">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/Mis-compras">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>

        <div class="burger-menu">
            <i class="fas fa-bars" id="burger"></i>
        </div>

        <img src="/images/img-home-banner.jpg" class="imagen-de-banner" alt="">
    </header>

<!-- ----------------------------------FORMULARIO----------------------------------------- -->

    <form action="/" method="get">
        <div class="form-login">
            <h2 class="inicio-de-sesion">Incio De Sesion</h2>
            <div>
                <label for="nombre-de-usuari@">Nombre de usuari@<span class="required">*</span></label>
                <input type="text" class="input-de-login" name="nombre-de-usuari@" id="nombre-de-usuari@" required minlength="3"
                maxlength="15">
            </div>

            <div>
                <label for="contraseña">Contraseña<span class="required">*</span></label>
                <input type="password" class="input-de-login" name="password" id="contraseña" required>
            </div>

            <button type="submit" class="botón-de-login">Iniciar Sesion</button>
            </div>
    </form>

<!-- -----------------------------------FOOTER------------------------------------------------ -->

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>